$color_front_default: #C0362C;

$color-default: #555555;
$color-blue: #2e86de;
$color-yellow: #ff9f43;
$color-red: #ee5253;
$color-green: #1dd1a1;
$color-fsphp: #1D2025;

$radius-normal: 5px;
$radius-medium: 10px;
$radius-large: 20px;
$radius-round: 50%;

$weight-light: 300;
$weight-normal: 400;
$weight-strong: 600;
$weight-bold: 700;
$weight-black: 900;