$color_front_default: #C0362C;

$color-default: #555555;
$color-blue: #39AED9;
$color-yellow: #F5B946;
$color-red: #D94352;
$color-fsphp: #1D2025;

$radius-normal: 5px;
$radius-medium: 10px;
$radius-large: 20px;
$radius-round: 50%;

$weight-light: 300;
$weight-normal: 400;
$weight-strong: 600;
$weight-bold: 700;
$weight-black: 900;