.message {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  -webkit-border-radius: $radius-medium;
  -moz-border-radius: $radius-medium;
  border-radius: $radius-medium;
  border: 1px solid #cccccc;
  font-weight: $weight-bold;
}

.message.success {
  color: $color-green;
  border-color: $color-green;
}

.message.info {
  color: $color-blue;
  border-color: $color-blue;
}

.message.warning {
  color: $color-yellow;
  border-color: $color-yellow;
}

.message.error {
  color: $color-red;
  border-color: $color-red;
}